* {
    font-family: 'Times New Roman', Times, serif;
    /* outline: 1px solid red; */
}

body {
    background-color: #DDD;
    padding: 50px;
    padding-bottom: 500px;
}

div {
    padding: 0px;
    margin: 0px;
}

h1 {
    color: #333;
    font-size: 2.5em;
    padding: 0.5rem;
}

h2, h3 {
    color: #444;
    font-size: 2em;
    padding: 0.5rem;
}

p {
    background-color: #AAA;
    font-size: 1.5em;
    padding: 0.5rem;
}

button {
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem;
}

input {
    font-size: 1rem;
}

label {
    margin: 0.5rem;
}